<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Let's find a reason to connect</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <main>
<header>
    <img src="/img/Gianpaolo.png" alt="">
    <h1><a href="/">Bentivegna Gianpaolo's GAY Petition</a></h1>

</header>
<section class="project">

            {{{body}}}
</section>

 <script src="/signature.js" charset="utf-8" type="text/javascript"></script>
        </main>
    </body>
</html>
