<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Let's find a reason to connect</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <main>
<header>
    <img src="/img/mamaru.jpg" alt="Rupaul's Drag Race creator and founder Rupaul Charles in arts Mama Ru">
    <h1><a href="/">Exqueeeze me???</a></h1>

</header>
<section class="project">
{{>nav}}
<h2>WELCOME TO THE PETITION "BEARDED DRAG QUEEN IN RUPAUL'S DRAGRACE"</h2>
<h3>
Throughout all the seasons of our favourite show, we have never had the chance to see a bearded queen starting the competition (WILLAM doesn't count! :D)!
Let's ask our Mama Ru to allow some bearded queen to participate in the competition.</h3>


            {{{body}}}
</section>

 <script src="/signature.js" charset="utf-8" type="text/javascript"></script>
        </main>
    </body>
</html>
