<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Let's find a reason to connect</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <main>
<header>
    <img src="/img/mamaru.jpg" alt="Rupaul's Drag Race creator and founder Rupaul Charles in arts Mama Ru">
    <h1><a href="/">Exqueeeze me???</a></h1>

</header>
<section class="project">
{{>nav}}



            {{{body}}}
</section>

 <script src="/signature.js" charset="utf-8" type="text/javascript"></script>
        </main>
    </body>
</html>
