<h2>LET'S ALLOW DRAG QUEEN TO HAVE BEARDS IN RUPAUL'S DRAGRACE</h2>
<p>If you agree with my cause, sign the petition, and let's send it to Mama Ru so she can see we are a moltitude of people wishing for it to happen</p>

<form class="" action="/petition" method="post">
<div class="">
    <label for="">Sign with your mouse/finger
        <canvas id="signature" width="500" height="100"></canvas>
    </label>
    <input type="hidden" name="signature" value="" id="signatureVal">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="sumbit_buttons">
        <input type="submit" value="Submit" id="submit">
        <button>Clear Signature</button>
    </div>
</div>
</form>
