{{#person}}
    <h2>Thank you {{firstName}} {{lastName}} for signing the petition</h2>
    <img src="{{signature}}" alt="">
    <h4>You are helping a whole community to reach the goal of getting bearded Drag Queen competing in Rupaul Drag Race</h4>
{{/person}}
