{{#person}}
    <h2>Thank you {{firstName}} {{lastName}} for signing the petition! </h2>
    <h3> <a href="/update">UPDATE PROFILE</a> || <a href="/delsig">DELETE SIGNATURE</a> </h3>
    <img src="{{signature}}" alt="">
    <h4>You are helping a whole community to reach the goal of getting bearded Drag Queen competing in Rupaul Drag Race</h4>
    <h5><a href="/signers">LOOK AT THE {{count}} PEOPLE WHO ALREADY JOINED THIS PETITION!</a></h5>
{{/person}}
